{{define "title"}}Create a New Snippet{{end}}
{{define "main"}}
<form action="/snippet/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
    <div>
        <label>Title:</label>
        {{with .FieldErrors.title}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Title}}">
    </div>
    <div>
        <label>Content:</label>
        {{with .FieldErrors.content}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Content}}</textarea>
    </div>
    <div>
        <label>Delete in:</label>
        {{with .FieldErrors.expires}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="radio" name="expires" value="365" {{if (eq .Expires 365)}}checked{{end}}> One Year
        <input type="radio" name="expires" value="7" {{if (eq .Expires 7)}}checked{{end}}> One Week
        <input type="radio" name="expires" value="1" {{if (eq .Expires 1)}}checked{{end}}> One Day
    </div>
    {{end}}
    <div>
        <input type="submit" value="Publish snippet">
    </div>
</form>
{{end}}