{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "main"}}
    <div class='snippet'>
        {{with .Snippet}}
            <div class='metadata'>
                    <strong>{{.Title}}</strong>
                    <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>{{.Created | humanDate | printf "Created: %s"}}</time>
                <time>Expires: {{humanDate .Expires}}</time>
            </div>
        {{end}}
    </div>
{{end}}